:root
{
    --verde-fuerte: rgb(43, 187, 84);
    --celeste:      #1620A6;
    --cyan-angel:         #00838F;
    --cyan-dark:    #006972;

}

body
{
    background-color: var(--cyan-angel);
}

.container{
    width: 90vw;
}

.img-footer{
    height: 60px;
    padding-left: 10px;
}

#footer-title{
    margin: 0;
}

#footer{
    padding-top: 10px;
}

#footer-row{
    margin-bottom: 10px;
}
